-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "management/fault_functions"
require "management/astrobee_fault_table"

gs_config_dir = os.getenv("CUSTOM_CONFIG_DIR")
subsystems = astrobee_subsystems
if gs_config_dir ~= nil then
  gs_config_file = gs_config_dir .. "/gs_fault_table.config"
  dofile(gs_config_file)
  if gs_subsystems ~= nil then
    for i, item in ipairs(gs_subsystems) do
      table.insert(subsystems, item)
    end
  end
end
